*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: rgb(68, 4, 68);
    font-family: 'Open Sans', sans-serif;
}
span{
    color: #DA1491;
}
nav{
    background: white;
    height: 80px;
    width: 100%;
}
label.logo{
    line-height: 80px;
    padding: 0 80px;
}
img {
    width: 160px;
    height: 75px;
}
p img{
    width: 250px;
    height: 200px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 40px;
}
nav ul li a{
    color: rgb(99, 5, 99);
    font: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
    color:#DA1491;
}
.checkbtn{
    font-size: 30px;
    color: rgb(99, 5, 99);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


#header{
    height: 60vh;
    background-image: url(/images/laundry.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    height: 60vh;
    background: linear-gradient(90deg,rgba(137, 43, 226, 0.041), rgba(128, 0, 128, 0.137));
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.header-column1{
    padding-left: 200px;
    padding-top: 64px;
    padding-bottom: 64px;
}
.header-column1 h2{
    font-size: 52px;
}
.btn{
    margin-top: 12px;
    border: none;
    padding: 16px;
    background-color: aliceblue;
    border-radius: 10px;
}
.btn:hover{
    background-color: #DA1491;
}
#grid{
    background-color:#f1f4f5;
    /**height: 40vh;**/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(400px, auto);
}
#grid h3{
    font-size: 24px;
    padding: 32px 16px;
}
#grid p{
    font-size: 24px;
    padding: 32px 16px;
}
#form-section{
    background-color:#d3d7d8;
    color: rgb(68, 4, 68);
    height: 30vh;
    display: grid;
    align-content: center;
    justify-content: center;
}
input[type=email]{
    border: solid #DA1491;
    width: auto;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}
/**.col2{
    background-color: #e3d5ca;
}
.col1{
    background-color: #f5ebe0;
}**/

@media screen and (max-width: 1100px){
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 19px;
    }
} 
@media screen and (max-width: 600px) {
    img{
        width: 100px;
        height: 50px;
    }
    p img{
        width: 250px;
        height: 200px;
    }
}
@media(max-width: 952px) {
    label.logo{        
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    
}

@media(max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
            color:#DA1491;
    }
    #check:checked ~ ul{
        left: 0px;
    }
}

@media screen and (max-width: 600px){
    #header{
        height: 100vh;
    }
    .container{
        height: 100vh;
        display: grid;
        align-content: center;
        grid-template-columns: 1fr;
    }
    #grid{
        grid-template-columns: 1fr;
    }
    .header-column1{
        padding: 16px;
        text-align: center;
        /**padding-left: 200px;
        padding-top: 64px;
        padding-bottom: 64px;**/
    }
}